<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{data.title}}</title>
  </head>
  <style type="text/css">
    .body {
      font-family: system-ui, Helvetica, Arial, sans-serif;
      width: 90%;
      margin: auto;
    }

    .h1 {
      font-size: 2em;
      margin-bottom: 0.67em;
    }

    .h2 {
      font-size: 1.5em;
      margin: 0.83em 0;
    }

    .h3 {
      font-size: 1.17em;
      margin: 1em 0;
    }

    .activity-title {
      margin-top: 0;
    }

    th {
      width: 33%;
      text-align: left;
    }
  </style>

  <body>
    <table class="body" role="presentation">
      <caption>{{data.from_date}} - {{data.to_date}}</caption>
      <tr>
        <td colspan="2"><div class="h2">Summary</div></td>
      </tr>
      <tr>
        <th scope="row">Number of Activities</th>
        <td>{{ data.summary.count }}</td>
      </tr>
      <tr>
        <th scope="row">Total Distance</th>
        <td>{{ data.summary.total_distance }}</td>
      </tr>
      <tr>
        <th scope="row">Total Time</th>
        <td>{{ data.summary.total_time }}</td>
      </tr>
      <tr>
        <td colspan="2"><div class="h2">Activities</div></td>
      </tr>

      {% for activity in data.activities %}
      <tr>
        <td colspan="2"><div class="h3 activity-title">{{ activity.name }}<div></td>
      </tr>
      <tr>
        <th scope="row">Date</th>
        <td>{{ activity.date }}</td>
      </tr>
      <tr>
        <th scope="row">Distance</th>
        <td>{{ activity.distance }}km</td>
      </tr>
      <tr>
        <th scope="row">Time</th>
        <td>{{ activity.duration }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
