<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Weekly Report</title>
    {% include "styles.html" %}
  </head>
  <body>
    <table role="presentation" class="summary wrapper">
      <tr>
        <td class="summary__title">Weekly Report</td>
      </tr>
      <tr>
        <td class="summary__subtitle">{{ data.date }}</td>
      </tr>
    </table>

    <table role="presentation" class="overview wrapper">
      <tr>
        <td class="overview__text">Activities</td>
        <td class="overview__text">Time</td>
        <td class="overview__text">Distance</td>
      </tr>
      <tr>
        <td class="overview__value">{{ data.summary.count }}</td>    
        <td class="overview__value">{{ (data.summary.total_time / 60)|round(1, 'floor')|int }}:{{ '%02d' %
            (data.summary.total_time % 60) |round(1, 'floor')|int }}</td>  
        <td class="overview__value">{{ data.summary.total_distance|round(2) }}</td>  
      </tr>
    </table>

    <table role="presentation" class="activities wrapper">
      {% for activity in data.activities %}
      {% if loop.index % 2 %}
      <tr>
      {% else %}
      <tr class="activities__stripe">
      {%endif %}
        <td>
          <div class="activities__icon">
            <img class="activities__img" src="{{asset_url}}{{activity.type|lower}}.png" alt="{{activity.type}}" title="{{activity.type}}" width="20px" height="20px"/>
          </div>    
        </td>
        <td class="activities__date">
          <div>{{ activity.date[:3] }}</div>
          <div>@ {{ activity.date_time }}</div>
        </td>
        <td>{{ (activity.duration / 60)|round(1, 'floor')|int }}:{{ '%02d' % (activity.duration % 60)|round|int }}:00</td>
        <td>{{ activity.distance|round(2) }} km</td>
        <td>{{ activity.avg_heartrate }} bpm</td>
      </tr>
      {% endfor %}
    </table>

    <table role="presentation" class="profile wrapper">
      <tr>
        <td>
          <a class="profile__button" href=https://www.strava.com/athletes/{{ data.athlete_id }}>View Strava Profile</a>
        </td>
      </tr>
    </table>
  </body>
</html>
