<style type="text/css">
  body {
    font-family: system-ui, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #2b303a;
  }

  table {
    width: 100%;
    border-spacing: 0;
    border: 0;
    table-layout: fixed;
  }

  .wrapper {
    max-width: 600px;
    margin: 0 auto;
  }

  .summary {
    padding-top: 48px; /* 3rem */
    padding-bottom: 24px; /* 1.5rem */
    background-color: #fff8f0;
  }

  .summary__title {
    text-align: center;
    font-size: 32px; /* 2rem */
    font-weight: 600;
    padding-bottom: 8px; /* 8px */
  }

  .summary__subtitle {
    text-align: center;
    font-size: 19.2px; /* 1.2rem */
    padding-bottom: 16px; /* 1rem */
  }

  .overview {
    padding: 40px 0 32px 40px; /* 2.5rem 0 2rem 2.5rem */
    background-color: #ff8811;
  }

  .overview__text {
    font-size: 17.6px; /* 1.1rem */
    font-weight: 400;
    padding-bottom: 4px; /* 0.25rem */
  }

  .overview__value {
    font-size: 32px; /* 2rem */
    font-weight: 700;
  }

  .activities {
    padding: 24px 0 32px 0; /* 1.5rem 0 2rem 0 */
    background-color: #fff8f0;
  }

  .activities td {
    padding: 8px 0; /* 0.5rem 0 */
  }

  .activities__stripe {
    background-color: #ffeaea;
  }

  .activities__icon {
    margin: auto;
    width: 32px; /* 2rem */
    height: 32px; /* 2rem */
    font-size: 12.8px; /* 0.8rem */

    border-radius: 50%;
    color: #392f5a;
    border: 2px solid #2b303a;
  }

  .activities__img {
    display: block;
    padding: 6px; /* 0.375rem */
    object-fit: cover;
    width: 20px; /* 1.25rem */
    height: 20px; /* 1.25rem */
  }

  .activities__date {
    font-size: 12.8px; /* 0.8rem */
  }

  .profile {
    text-align: center;
    padding-top: 48px; /* 3rem */
    padding-bottom: 64px; /* 4rem */
    background-color: #ff8811;
  }

  .profile__button {
    border-radius: 4px; /* 0.25rem */
    padding: 12px 48px; /* 0.75rem 3rem */
    text-decoration: none;
    background-color: #392f5a;
    color: white;
    font-weight: 500;
  }
</style>
