name: Build + Deploy

on:
  push:
    branches:
      - main
    paths:
      - 'app/src/**'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'
          #cache: 'pip' # caching pip dependencies
          #cache-dependency-path: |
          #  '**/requirements-dev.txt'
          #  '**/requirements-prod.txt'

      - name: Install Test packages
        run: pip install -r ./requirements-dev.txt
        working-directory: ./app

      - name: Test
        run: pytest
        working-directory: ./app/src

      - name: Install Lambda packages
        run: pip install -r ../requirements-prod.txt -t ./
        working-directory: ./app/src

      - name: Zip Lambda package
        run: zip -r ../../lambda_package.zip *
        working-directory: ./app/src

      - name: Configure AWS Credentials for Lambda Access
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_LAMBDA_ROLE }}
          role-duration-seconds: 900
          aws-region: eu-west-2

      - name: Deploy lambda
        run: aws lambda update-function-code --function-name ${{ secrets.AWS_LAMBDA }} --zip-file fileb://lambda_package.zip
